ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  &:hover {
    color: #0dcaf0;
  }
}

body {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 16px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  padding: 6px;
  vertical-align: middle;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  &:focus {
    box-shadow: 0 0 3px #0dcaf0;
    outline: none;
  }
}

#btn-search {
    margin: 0;
  border-radius: unset;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  &:focus {
  box-shadow: none;
  }
  &:hover {
    color: white;
  }
}

.display-none {
  display: none;
}

.messages-container {
  padding-top: 20px;
}

.card-header {
  border-bottom: none;
}